.card {
     margin-top: 10px;
     margin-left: 33px;
     width: 300px;
     float: left;
}

.botton > a:hover{
    background-color:  rgb(14, 247, 14);

}

.botton > a
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mineria{
    text-align: center;
    top: 15px;
    position: relative;
    background-color: transparent;
    color: rgb(255, 255, 255);

}

.Encabezado{
    background-image: linear-gradient( red, rgb(34, 30, 30));
    height: 80px;
}
