.encabezado{
    background-image: linear-gradient( red, rgb(34, 30, 30));
    height: 80px;
}

.h2musica{
    text-align: center;
    color: white;
    top: 15px;
    position: relative;
    background-color: transparent;
}
.card{
    margin-top: 10px;
    margin-left: 33px;
    width: 300px;
    float: left;
}

.card-title{
    background-color: transparent;
}

.card-text{
    background-color: transparent;
}

.div-final > a{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 33px;
    background-color: green;
}

.div-final > a:hover{
    background-color: rgb(24, 106, 24);
}
