
*{
    box-sizing: border-box;
    margin-left: 2.7px;
    margin-top: 4.7px;
    margin-right: 3.5px;

}

.contenedor{
    background-color: red;
    width: 100%;
    height: 45px;
    background-image: linear-gradient(to bottom , red, rgba(0,0,0,0.6));
}

.contenedor3{
    background-color: white;
    width: 100%;
    height: 55px;
}
.enjohnny{

    font-family: 'Fjalla One', sans-serif;  
    font-size: 45px;
    color: red  ;
}

.contenedor4{
    background-color: red;
    background-image: linear-gradient(to bottom , red, rgba(0,0,0,0.6));
    width: 100%;
    height: 5px;
    
}
.contenedor2{
    background-color: rgba(255, 255, 255, 0.877);
    width: 100%;
    height: 45px;
}

.facebook
{
    margin-left: 1000px;
    width:40px;
    height: 35px;
    position: relative;
    left: 21%;
    bottom: 80%;
}

.ubicacion
{
    margin-left: 950px;
    width:35px;
    height: 25px;
    position: relative;
    left: 21.5%;
    bottom: 155%;
}

.instagram
{
    margin-left: 950px;
    width:35px;
    height: 30px;
    position: relative;
    left: 18%;
    bottom: 230%;
}

.ini-sesion
{
    font-family: 'Fjalla One', sans-serif;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 4px;
}

.ini-sesion:hover{
    background-color: grey;
}

.contenedor2{
    background-color: rgba(255, 255, 255, 0.877);
    width: 100%;
    height: 45px;
}

footer {
    background-color: red;
    background-image: linear-gradient(to bottom , red, rgba(19, 10, 10, 0.767));
    float: bottom;
    height: 250px;    
}

footer > div.div1 {
    width: 100%;
    height: 150px;
}

footer > div.div1 > .columna{
    float: left;
    width: 30%;
    height: 150px;
    margin-left: 30px;
    margin-top: 15px;
}

li{
    list-style-type: none;
}

.portada1{
    width: 100%;
    height: 500px;
}
    
.tele-enca
{
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    color: white;
    padding-left: 10px;
}

.fopie
{
    color: white;
}

.fopie1{
    background-color: red;
    background-image: linear-gradient(to bottom , red, rgba(255, 255, 255, 0.698));
    width: 370px;
    height: 2px;
}


.fonav
{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Peddana', serif;
    font-size: 20px;
    color: white;
}

.foin
{
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Peddana', serif;
    color: white;
    font-size: 24px;
}

.carousel_slide{
    margin-left: -3px;
}

.categorias
{
 font-family: 'Fjalla One', sans-serif;
 text-align: center;
 font-size: 45px;
}

.concategoria{
    background-color: rgba(255, 255, 255, 0.877);
    width: 100%;
    height: 45px;
}

/*MARCAS */

.marcas
{
 font-family: 'Fjalla One', sans-serif;
 text-align: center;
 font-size: 45px;
 color: white;
}
/* Titulo Marca*/

/*Contenedor de marcas */

.conmar{

background-color: teal;
background-image: linear-gradient(to bottom , teal, rgba(0,0,0,0.2));
width: 100%;
height: 280px ;
}

/* Contenedor dentro de contenedor marcas*/
.conmar1{
    background-color:gray;
   margin-left: 4%;
    width: 90%;
    height: 2px;
}

/* Carousel de las marcas*/

.col-md-3{
    display: inline-block;
    margin-left:-10px;
  }

.col-md-3 img{
    width:100%;
    height:auto;
  }

body .carousel-indicators li{
    background-color:teal;
  }

body .carousel-control-prev-icon, body .carousel-control-next-icon{
    background-color:teal;
  }

body .no-padding{
    padding-left: 0;
    padding-right: 0;
  }

 /* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}

.remember{
    color: white;
}

.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: 100px;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

.capfacebook{
    width: 100%;
    height: 180px;
    margin-top: 10px;
}

.p-ubicacion{
    text-align: justify;
    padding-top: 10px;
    color: honeydew;
}

/* Mision y vision*/
.myv{

color: white;
text-align: center;
}

.piemyv{
width: 100%;
    font-size: 150%;
  height: 50px ;
    text-align: center;
    
  background-color: crimson;
}